# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs
*.log
*.log.*
pids
*.pid
*.seed

# Runtime data
coverage/
dist/
build/
.cache/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS-specific
.DS_Store
Thumbs.db
